p{
    /* color: rgb(72, 255, 72); */
    /* outline: 1px green solid; */
}

.description{
    text-decoration: underline;
}

#canvasWrapper{
    /* background-color: green; */
    outline: 2px green solid;
}

.p5name{
    /* background-color: pink; */
    outline: 3px rgb(128, 0, 0) solid;

}
.CaptionWrapper{
    margin: 30px;
    padding: 5px;
    outline: 1px green solid;
}

.caption{
    outline: 1px rgb(128, 0, 0) solid;
    margin:0px;
}

.box3{
    position:fixed;
    left:10px;
    top:20px;
}